/*.lists{
    list-style-type: none;
    width: 80px;
    margin: 0 auto;
    margin-top: 100px;
    border: 2px solid black;
}
#purple{
    background-color: purple;
    height: 70px;
    width: 80px;
    cursor: pointer;
}
#yellow{
    background: yellow;
    height: 70px;
    width: 80px;
    cursor: pointer;
}
#green{
    background: green;
    height: 70px;
    width: 80px;
    cursor: pointer;
}
#grey{
    background: grey;
    height: 70px;
    width: 80px;
    cursor: pointer;
}
.lists-two{
    list-style-type: none;
    width: 100px;
    margin: 0 auto;
    margin-top: 150px;
    font-family: Arial, Helvetica, sans-serif;
}
#zero{
    border: 2px solid black;
    padding: 10px 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
#plusThree{
    border: 2px solid black;
    padding: 10px 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
#plusNine{
    border: 2px solid black;
    padding: 10px 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
#minusTwo{
    border: 2px solid black;
    padding: 10px 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.total{
    text-align: center;
    padding-top: 30px;
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}*/
/*body{
    background: rgb(173, 163, 163);
}

#door{
    height: 400px;
    width: 200px;
    margin-left: 600px;
    background: white;
    border: 3px solid grey;
    border-radius: 8px;
}
#btnOne{
    height: 30px;
    width: 60px;
    border-radius: 6px;
    background: orange;
    border: 1px solid brown;
    cursor: pointer;
    color: white;
}
#btnTwo{
    height: 30px;
    width: 60px;
    border-radius: 6px;
    background: black;
    border: 1px solid rgb(163, 144, 144);
    cursor: pointer;
    color: white;
}
#btnThree{
    height: 30px;
    width: 60px;
    border-radius: 6px;
    background: blue;
    border: 1px solid brown;
    cursor: pointer;
    color: white;
}
.btns{
    margin-left:610px;
    margin-top: 50px;
}
#btnFour{
    padding: 10px 20px;
    border: 1px solid grey;
    border-radius: 7px;
    font-size: 18px;
    background: rgb(156, 110, 110);
    color: white;
    margin-left: 640px;
    margin-top: 30px;
    cursor: pointer;

}*/
body{
    background: rgb(173, 163, 163);
}
.output{
    color: rgb(63, 26, 0);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    padding-left: 30px;
    padding-top: 50px;
}
.heading{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(167, 77, 17);
}
#firstName{
    height: 35px;
    border-radius: 10px;
    font-size: 25px;
}
.label{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#btn{
    padding: 10px 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    border: none;
    background: blue;
    color: white;
    width: 120px;
    margin: 0 auto;
    display: block;
    margin-top: 30px;
    cursor: pointer;
}
.forms{
    margin-left: 33%;
    margin-top: 50px;
}
.contain{
    margin-top: 200px;
}