<<<<<<< HEAD
/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  width: 25%;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
=======
/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  width: 25%;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
>>>>>>> ca3bf904a56c3a50ed1a2cb7f76dd03263689a37
